<header>
  <h1>Posts#index</h1>
</header>
<h3>Index of all posts:</h3>

<section class="post_index">
  <% @posts.each do |post| %>
    <table>
      <tr>
        <th>Title</th>
        <td><%= post.title %></td>
      </tr>
      <tr>
        <th>Body</th>
        <td><%= post.body %></td>
      </tr>
      <% if user_signed_in? %>
        <tr>
          <th>Email - </th>
          <td><%= post.user.email %></td>
        </tr>
      <% end %>
      <% if post.user_id == current_user&.id %>
        <tr>
          <td><%= link_to "edit", post %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</section>